@media screen and (min-width: 840px) {
	.navTrigger {
		display: none;
	}

	header .container {
		overflow: hidden;
	}

	header .pre-nav {
		float: left;
	}

	header nav {
		transition: .5s;
		transition-delay: 0;
		clear: none;
		margin-top: 50px;
		float: right;
		display: block !important;
	}

	header.shrink nav {
		margin-top: 0;
	}

	header .pre-nav div.logo {
		font-size: 2.5em;
	}

	header.shrink .pre-nav .logo {
		font-size: 2em;
	}

	header nav ul li {
		display: inline-block;
		color: white;
	}

	header nav ul li:first-of-type {
		border-top: none;
	}

	.man-info {
		font-size: 0;
	}

	.man-info .close-info {
		border: none;
		font-size: 16px;
		line-height: 20px;
		vertical-align: middle;
		text-align: center;
		background-color: black;
		color: white;
		display: block;
		margin: 0 auto;
	}

	.man-info .main,
	.man-info .side
	{
		display: inline-block;
	}

	.man-info .main {
		width: 60%;
		font-size: 16px;
	}

	.man-info .side {
		width: 40%;
		font-size: 16px;
	}

	#web-shop .overlay  {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#web-shop, #web-shop .overlay {
		min-height: 30em;
	}

	#kontakt {
		overflow: hidden;
	}

	#mapa {
		float: left;
		width: 40%;
	}

	#kontakt-info {
		width: 30%;
	}

	#kontakt-forma {
		width: 30%;
	}

	#kontakt-info, #kontakt-forma {
		float: left;
	}

}

@media screen and (max-width: 1137px) {
	.badges {
		justify-content: space-around;
	}
}

@media screen and (min-width: 1200px) {

	
	
}