@media screen and (min-width: 840px) {
	.navTrigger {
		display: none;
	}
	
	header .container {
		overflow: hidden;
	}
	
	header .pre-nav {
		float: left;
	}
	
	header nav {
		transition: .5s;
		transition-delay: 0;
		clear: none;
		margin-top: 50px;
		float: right;
		display: block !important;
		width: auto;
	}
	
	header.shrink nav {
		margin-top: 0;
	}
	
	header .pre-nav h1.logo {
		font-size: 2.5em;
	}
	
	header.shrink .pre-nav .logo {
		font-size: 2em;
	}
	
	header nav ul li {
		display: inline-block;
		color: white;
	}
	
	header nav ul li:first-of-type {
		border-top: none;
	}
	
	main section#o-nama {
		min-height: 100vh;
		position: relative;
		background: url('../img/repair.jpg');
		background-position: center 20%;
		background-size: cover;
	}

	main section#o-nama h2:first-of-type {
		padding-top: 150px;	
	}
	
	main section#o-nama .overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 8, .8);
	}

	main section#o-nama .intro {
		background-color: transparent;
		color: #fff;
	}

	main section#o-nama .about-shell {
		width: auto;
	}

	.badge {
		max-width: 270px;
	}
	
	img.certificate {
		padding: 2em;
	}
	
	.man-info {
		font-size: 0;
	}
	
	.man-info .main,
	.man-info .side
	{
		display: inline-block;
	}
	
	.man-info .main {
		width: 70%;
		font-size: 16px;
	}
	
	.man-info .side {
		width: 30%;
		font-size: 16px;
	}

	#web-shop {
		background: url('../img/antique.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
	
	#web-shop .overlay  {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#lokacija {
		min-height: 100%;
	}
	
	#lokacija #map {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 60vw;
		height: 100%;
	}

	#lokacija .map-info table {
		width: auto;
	}
	
	#kontakt {
		overflow: hidden;
	}
	
	#kontakt-info {
		width: 50%;
	}
	
	#kontakt-info table {
		width: 80%;
	}
	
	#kontakt-forma {
		width: 50%;
	}
	
	#kontakt-info, #kontakt-forma {
		float: left;
	}
	
}

@media screen and (min-width: 1921px) {
	main section#o-nama {
		background: url('../img/repair-lg.jpg');
	}

	#web-shop {
		background: url('../img/antique-lg.jpg');
	}
}