/*COLORS*/
/*
#116568
#5CF9FF
#2FB0B5
#682D06
#B5632F
*/

/*DEFAULTS*/

body {
	background-color: #2FB0B5;
	color: #fff;
	font-family: "Titillium Web", sans-serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header,
section,
footer,
nav {
	display: block;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

/*NAVIGATION*/

header {
	overflow: hidden;
	background-color: #116568;
	position: fixed;
	top: 0;
	z-index: 200;
	margin: 0 auto;
	width: 100%;
}

header .pre-nav div.logo {
	font-family: "Montserrat", sans-serif;
	color: black;
	font-size: 2em;
	float: left;
	margin: 13px 0 8px 10px;
	color: #fff;
	transition: .3s;
}

header .pre-nav .burger {
	height: 45px;
	width: 40px;
	float: right;
	margin: 10px 10px 10px 0;
	cursor: pointer;
}

header .pre-nav .burger div {
	height: 5px;
	width: 100%;
	background-color: black;
	margin: 7px 0;
	border-radius: 3px;
}

header .pre-nav .burger.open div:first-of-type {
	transform: translate(2, 1);
}

header nav {
	display: none;
	clear: left;
}

header nav > ul {
	font-size: 0;
}

header nav ul li {
	border-bottom: 3px solid #B56221;
	height: 50px;
	transition: .4s;
}

header nav ul li i {
	transition: .4s;
}

header nav ul li:hover {
	background-color: #2FB0B5;
	border-bottom-color: #682D06
}

header nav ul li:hover i {
	color: #682D06;
}

header nav ul li:hover a {
	text-shadow: 0 0 10px #116568;
}

header nav ul li:first-of-type {
	border-top: 3px solid #B56221;
}

header nav ul li a {
	font-style: italic;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	line-height: 50px;
	font-size: 16px;
	box-sizing: border-box;
	padding: 0 20px;

}

/*BURGER MENU*/

.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	float: right;
	margin: 15px;
	
}
.navTrigger i {
	background-color: #fff;
	border-radius: 2px;
	content: '';
	display: block;
	width: 100%;
	height: 4px;
}
.navTrigger i:nth-child(1) {
	-webkit-animation: outT 0.8s backwards;
	animation: outT 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
	margin: 5px 0;
	-webkit-animation: outM 0.8s backwards;
	animation: outM 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
	-webkit-animation: outBtm 0.8s backwards;
	animation: outBtm 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
	-webkit-animation: inT 0.8s forwards;
	animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
	-webkit-animation: inM 0.8s forwards;
	animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
	-webkit-animation: inBtm 0.8s forwards;
	animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}
@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

#o-nama {
	box-sizing: border-box;
	background: url('../img/repair.jpg');
	background-position: center 20%;
	background-size: cover;
}

#o-nama .overlay {
	background-color: rgba(0, 0, 0, .6);
	height: 100vh;
}

#o-nama h2 {
	padding-top: 5em;
	font-size: 2em;
	padding-left: 10px;
	margin-bottom: 50px;
	text-align: center;
}

#o-nama h2 span {
	border-left: 5px solid #B5632F;
	margin-right: 20px;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 20px;

}



	.badges {
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
	}

	.badge {
		max-width: 270px;
		margin-bottom: 1em;
		margin: 0 10px;
	}

	.badge h3 {
		text-align: center;
		font-size: 2em;
		margin-bottom: 10px;
		color: #116568;
		text-shadow: 0 0 50px #fff;
	}

	.badge p {
		background-color: #116568;
		box-sizing: border-box;
		padding: 10px;
		height: 100px;
		line-height: 1.3em;
		text-align: center;
	}

	.badge .icon {
		padding: 1.5em;
		box-shadow: 0px 0px 10px #fff;
		background-color: rgba(255, 255, 255, 1);
		box-sizing: border-box;
		color: #2FB0B5;
		text-align: center;
	}

	.badge .icon i {
		font-size: 3.5em;
		text-shadow: 0 0 100px #fff;
	}

	.badge .icon img {
		max-width: 3.5em;
		max-height: 3.5em;
	}



/*MANUFACTURERS SLIDER*/
#proizvodjaci {
	background-color: #fff;
	color: #000;
	padding: 8em 0 8em 0;
}

#proizvodjaci h2 {
	text-align: center;
	font-size: 32px;
	padding: 20px 0;
	margin: 0;
}

#proizvodjaci h2 span {
	font-weight: 400;
	border-bottom: 5px solid #116568;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 10px;
}

#proizvodjaci p {
	text-align: center;
}

#proizvodjaci p:last-of-type {
	font-style: italic;
}

.manufacturers {
	padding-top: 2em;
}

.manufacturers .manufacturer {
	box-sizing: border-box;
	position: relative;
	margin: 30px 0 50px 0;
	height: 90px;
	padding: 10px;
	height: 90px;
	text-align: center;
	cursor: pointer;
	transition: .8s;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(resources.svg#desaturate);
	filter: gray;
	-webkit-filter: grayscale(1);
}

.manufacturers div.manufacturer img {
	max-height: 90%;
	max-width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.manufacturers .manufacturer.slick-center,
.manufacturers .manufacturer:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	-webkit-filter: none;
}

.slick-prev {
	margin-left: 30px;
	z-index: 100;
}

.slick-next {
	margin-right: 30px;
	z-index: 100;
}

.slick-prev:before, .slick-next:before { 
	color: #333;
}

.man-info {
	display: none;
}

.man-info .main {
	vertical-align: top;
	box-sizing: border-box;
	padding: 30px;
}

.man-info .main h3 {
	font-size: 32px;
	color: #116568;
}

#proizvodjaci .man-info .main p {
	text-align: left;
	box-sizing: border-box;
	padding: 10px;
}

.man-info .side  {
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	border-right: 1px solid #B56221;
}

.man-info .side img {
	/*float: left;*/
	max-height: 88px;
	max-width: 176px;
	margin: 20px 0;
}

.man-info .side a,
.man-info .side .certif button {
	box-sizing: content-box;
	text-decoration: none;
	display: inline-block;
	background: none;
	border: none;
	cursor: pointer;
	font: 700 1rem 'Montserrat', sans-serif;
	padding: 0.5em 1em;
	letter-spacing: 0.03rem;
	border: 3px solid #682D06;
	background-color: #682D06;
	color: #fff;
	margin: 2px 0;
	transition: .4s;
	width: 176px;
}

.man-info .side a:hover,
.man-info .side .certif button:hover {
	background-color: #fff;
	color: #682D06;
}

.man-info .close-info {
	margin: 120px auto;
	border: none;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	background-color: #fff;
	color: #2FB0B5;
	cursor: pointer;
	border-radius: 100%;
	padding: 12px;
	display: block;
	margin: 0 auto;
	transition: .4s;
}

.man-info .close-info:hover {
	color: #fff;
	background-color: #2FB0B5;
}

.man-info .close-info i {
	font-size: 3em;
}

.man-info .close-info div {
	text-decoration: none;
	font-style: italic;
	font-size: 0.8em;
	position: relative;
	top: -8px;
}

.fas.fa-external-link-alt {
	font-size: 40%;
	vertical-align: top;
}

div.certificate {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2000;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

div.certificate button {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 2em;
	cursor: pointer;
	display: block;
	background-color: transparent;
	border: none;
	color: #fff;
}

img.certificate {
	max-width: 100%;
	max-height: 100vh;
	padding: 1em;
	background-color: transparent;
	box-sizing: border-box;
}

#web-shop {
	min-height: 60vh;
	background: url('../img/antique.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#web-shop .overlay {
	background-color: rgba(0, 0, 0, .8);
	min-height: 60vh;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#web-shop a {
	text-decoration: none;
	color: white;
	display: inline-block;
	border: 5px solid white;
	font: 700 1.4rem 'Montserrat', sans-serif;
	padding: 1em 2em;
	margin: 100px 0 20px 0;
	transition: .3s;
	position: relative;
}

#web-shop a:hover {
	border-color: #B5632F;
	color: #B5632F;
	background-color: rgba(255, 255, 255, .7);
}

#web-shop p {
	font-style: italic;
	padding-bottom: 100px;
}

#lokacija {
	overflow: hidden;
	position: relative;
	background-color: rgb(242, 242, 242);
	color: #000;
	min-height: 160vh;
}

#lokacija .map-info {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	overflow: visible;
	margin-bottom: 5em;
}

#lokacija .map-info p {
	color: #2FB0B5;
	font-size: 1.2em;
}

#lokacija .map-info p:first-of-type {
	font-weight: 700;
}

#lokacija .map-info a {
	/* text-decoration: underline; */
	display: inline-block;
	padding: 1em;
	color: #fff;
	border: 5px solid #2FB0B5;
	background-color: #2FB0B5;
	margin-top: 2em;
	transition: .6s;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

#lokacija .map-info a:hover {
	background-color: transparent;
	color: #2FB0B5;
}

#lokacija .map-info table thead {
	margin: 0 auto;
}

#lokacija .map-info table tbody td {
	padding: 15px 0 3px 0;
	border-bottom: 1px solid #ddd;
	color: #2FB0B5
}

#lokacija .map-info table tbody td:last-of-type {
	text-align: right;
}

#lokacija .map-info table tbody tr:nth-of-type(6) td {
	color: #B56221;
}

#lokacija .map-info table tbody tr:last-of-type td {
	color: #f00;
}

#lokacija h2 {
	display: inline-block;
	padding: 3em 0 1em 0;
	font-size: 32px;
	margin: 0;
}

#lokacija h2 span {
	font-weight: 400;
	border-bottom: 5px solid #116568;
	display: inline-block;
	box-sizing: border-box;
}

#lokacija #map {
	position: static;
	width: 100%;
	height: 80vh;
}

#kontakt {
	margin-top: 70px;
}

#kontakt-info {
	box-sizing: border-box;
	padding: 20px;
}

#kontakt-info h2 span {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	font-weight: 700;
	border-bottom: 5px solid #116568;
	display: inline-block;
}

#kontakt-info table {
	margin-top: 3em;
	width: 100%;
}

#kontakt-info table * {
	vertical-align: middle;	
}

#kontakt-info table th,
#kontakt-info table td {
	padding: 10px 0;
}

#kontakt-info table th {
	text-align: left;
	font-weight: 700;
	color: #116568;
}

#kontakt-info table tr:nth-of-type(even) {
	border-bottom: 1px solid #116568;
}

#kontakt-info table tbody tr td:last-of-type {
	text-align: right;
}

#kontakt-forma {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
}

#kontakt-forma h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	font-weight: 700;
	border-bottom: 5px solid #116568;
	display: inline-block;
}

/*form {
	font-size: 0;
}

form * {
	font-size: 16px;
}*/

form input, form textarea {
	width: 100%;
	margin: 10px 0;
	resize: none;
	box-sizing: border-box;
	padding: 14px;
	font-family: "Titillium Web", sans-serif;
	/*font-weight: 400;*/
	border: none;
	box-shadow: none;
	color: #888;
	box-sizing: border-box;
	transition: .6s;
}

form input::placeholder,
form textarea::placeholder {
	transition: .5s;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
	padding-left: 10%;
	opacity: .5;
}

form p {
	font-style: italic;
}

form input[type="submit"],
form input[type="reset"] {
	padding: .5em;
	font-family: "Montserrat", sans-serif;
	color: white;
	cursor: pointer;
	box-sizing: border-box;
}

form input[type="reset"] {
	color: #5CF9FF;
	background-color: transparent;
	text-decoration: underline;
	font-size: 1em;
	width: 8em;
	padding: 1em;
	border: .5em solid transparent;
	text-transform: lowercase;
}

form input[type="reset"]:hover {
	color: #116568;
}

form input[type="submit"] {
	width: 15em;
	font-size: 1em;
	background-color: #682D06;
	border: .5em solid #682D06;
}

form input[type="submit"]:hover {
	background-color: rgba(255, 255, 255, .8);
	color: #682D06;
}

footer {
	text-align: center;
	background-color: #116568;
	color: #fff;
	padding: 20px;
	box-sizing: border-box;
	font-style: italic;
}

footer span {
	vertical-align: middle;
}


/*COLORS*/
/*
#116568
#5CF9FF
#2FB0B5
#682D06
#B5632F
*/