/*COLORS*/
/*
#116568
#5CF9FF
#2FB0B5
#682D06
#B5632F
*/

/*DEFAULTS*/

body {
	background-color: #2FB0B5;
	color: white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/*NAVIGATION*/

header {
	overflow: hidden;
	background-color: #116568;
}

header .pre-nav div.logo {
	font-family: "Lato", sans-serif;
	color: black;
	font-size: 32px;
	float: left;
	margin: 13px 0 10px 10px;
	color: #fff;
}

header .pre-nav .burger {
	height: 45px;
	width: 40px;
	float: right;
	margin: 10px 10px 10px 0;
	cursor: pointer;
}

header .pre-nav .burger div {
	height: 5px;
	width: 100%;
	background-color: black;
	margin: 7px 0;
	border-radius: 3px;
}

header .pre-nav .burger.open div:first-of-type {
	transform: translate(2, 1);
}

header nav {
	clear: both;
	display: none;
}

header nav ul {
}

header nav ul li {
	border-bottom: 3px solid #B56221;
	height: 50px;
	transition: .6s;
	margin: 0 5px;
}

header nav ul li:hover {
	background-color: #2FB0B5;
	border-bottom-color: #682D06
}

header nav ul li a:hover {
	color: #682D06;

}

header nav ul li:first-of-type {
	border-top: 3px solid #B56221;
}

header nav ul li a {
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	line-height: 50px;
	vertical-align: middle;
	font-size: 16px;
	box-sizing: border-box;
	padding: 0 20px;
	transition: .6s;
}

/*BURGER MENU*/

.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	float: right;
	margin: 15px;
	
}
.navTrigger i {
	background-color: #000;
	border-radius: 2px;
	content: '';
	display: block;
	width: 100%;
	height: 4px;
}
.navTrigger i:nth-child(1) {
	-webkit-animation: outT 0.8s backwards;
	animation: outT 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
	margin: 5px 0;
	-webkit-animation: outM 0.8s backwards;
	animation: outM 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
	-webkit-animation: outBtm 0.8s backwards;
	animation: outBtm 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
	-webkit-animation: inT 0.8s forwards;
	animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
	-webkit-animation: inM 0.8s forwards;
	animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
	-webkit-animation: inBtm 0.8s forwards;
	animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}
@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

#o-nama {
	box-sizing: border-box;
	padding: 20px;
}

#o-nama h2 {
	font-size: 2em;
	border-left: 5px solid #B5632F;
	padding-left: 10px;
	margin-bottom: 14px;
}

/*MANUFACTURERS SLIDER*/

#proizvodjaci {
	background-color: #fff;
	color: #000;
}

#proizvodjaci h2 {
	text-align: center;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 32px;
	padding: 20px 0;
	margin: 0;
}

#proizvodjaci p {
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

.manufacturers .manufacturer {
	box-sizing: border-box;
	position: relative;
	margin: 30px 0 50px 0;
	height: 90px;
	padding: 10px;
	height: 90px;
	text-align: center;
	cursor: pointer;
	transition: .8s;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(resources.svg#desaturate);
	filter: gray;
	-webkit-filter: grayscale(1);
}

.manufacturers div.manufacturer img {
	max-height: 90%;
	max-width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.manufacturers .manufacturer.slick-center,
.manufacturers .manufacturer:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	-webkit-filter: none;
}

.slick-prev {
	margin-left: 30px;
	z-index: 100;
}

.slick-next {
	margin-right: 30px;
	z-index: 100;
}

.slick-prev:before, .slick-next:before { 
	color: #333;
}

.man-info {
	display: none;
}

.man-info .main {
	vertical-align: top;
}

.man-info .main h3 {
	font-size: 32px;
}

#proizvodjaci .man-info .main p {
	text-align: left;
	box-sizing: border-box;
	padding: 10px;
}

.man-info .side  {
	overflow: hidden;
}

.man-info .side img {
	float: left;
	max-height: 40%;
	max-width: 40%;
}

.man-info .side a {
	text-decoration: none;
	display: inline-block;
	background: none;
	border: none;
	cursor: pointer;
	font: 700 1.2rem 'Roboto Slab', sans-serif;
	padding: 0.5em 1em;
	letter-spacing: 0.03rem;
	border: 3px solid #682D06;
	color: #682D06;
	margin: 5px 0;
	transition: .7s;
}

.man-info .side a:hover {
	color: #116568;
	border-color: #116568;
}

.fas.fa-external-link-alt {
	font-size: 40%;
	vertical-align: top;
}

div.certificate {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 200;
	display: none;
}

img.certificate {
	max-width: 100%;
	max-height: 100vh;
	padding: 20px;
	background-color: black;
	box-sizing: border-box;
}

#web-shop {
	min-height: 200px;
	background-image: url('../img/engine.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
}

#web-shop .overlay {
	background-color: rgba(0, 50, 50, .7);
	min-height: 200px;
	width: 100%;
	text-align: center;
}

#web-shop a {
	text-decoration: none;
	color: white;
	display: inline-block;
	border: 5px solid white;
	font: 700 1.2rem 'Roboto Slab', sans-serif;
	padding: 1em 2em;
	margin: 50px 0 20px 0;
	transition: .6s;
	position: relative;
}

#web-shop a:hover {
	border-color: #B5632F;
	color: #B5632F;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .7);
}

#web-shop p {
	font-style: italic;
}

#kontakt {
	width: 300px;
	height: 300px;
}

#kontakt > * {
	width: 300px;
	height: 300px;
}

footer {
	background-color: #116568;
	color: #fff;
}