/*DEFAULTS*/

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/*NAVIGATION*/

header {
	overflow: hidden;
}

header .pre-nav div.logo {
	font-family: "Lato", sans-serif;
	color: black;
	font-size: 32px;
	float: left;
	margin: 13px 0 10px 10px;
}

header .pre-nav .burger {
	height: 45px;
	width: 40px;
	float: right;
	margin: 10px 10px 10px 0;
	cursor: pointer;
}

header .pre-nav .burger div {
	height: 5px;
	width: 100%;
	background-color: black;
	margin: 7px 0;
	border-radius: 3px;
}

header .pre-nav .burger.open div:first-of-type {
	transform: translate(2, 1);
}

header nav {
	clear: both;
}

header nav ul {
}

header nav ul li {
	border-bottom: 3px solid #111;
	height: 50px;
}

header nav ul li:first-of-type {
	border-top: 3px solid #111;
}

header nav ul li a {
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	line-height: 50px;
	vertical-align: middle;
	font-size: 16px;
}

/*MANUFACTURERS SLIDER*/

#proizvodjaci {
	background-color: #fff;
}

#proizvodjaci h2 {
	text-align: center;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 32px;
	padding: 20px 0;
	margin: 0;
}

#proizvodjaci p {
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

.manufacturers .manufacturer {
	box-sizing: border-box;
	position: relative;
	margin: 30px 0 50px 0;
	height: 90px;
	padding: 10px;
	height: 90px;
	text-align: center;
	cursor: pointer;
	transition: .8s;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(resources.svg#desaturate);
	filter: gray;
	-webkit-filter: grayscale(1);
}

.manufacturers div.manufacturer img {
	max-height: 90%;
	max-width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.manufacturers .manufacturer.slick-center,
.manufacturers .manufacturer:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	-webkit-filter: none;
}

.slick-prev {
	margin-left: 30px;
	z-index: 100;
}

.slick-next {
	margin-right: 30px;
	z-index: 100;
}

.slick-prev:before, .slick-next:before { 
    color: #333;
}

.man-info {
	display: none;
}

.man-info .main h3 {
	font-size: 32px;
}

.man-info .side  {
	overflow: hidden;
}

.man-info .side img {
	float: left;
}

div.certificate {
	text-align: center;
	background-color: black;
}

img.certificate {
	max-width: 100%;
	max-height: 100vh;
	padding: 5%;
	box-sizing: border-box;
}


/*PARALLAX*/

.parallax-window {
	min-height: 400px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 300%;
}


footer {
	background-color: #000;
	color: #fff;
}