/*DEFAULTS*/

body {
	background-color: #004E98;
	color: #fff;
	font-family: "Titillium Web", sans-serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header,
section,
footer,
nav {
	display: block;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
}

/*NAVIGATION*/

header {
	overflow: hidden;
	background-color: #004E98;
	position: fixed;
	top: 0;
	z-index: 200;
	margin: 0 auto;
	width: 100%;
}

header .pre-nav h1.logo {
	font-size: 2em;
	float: left;
	margin: 12px 0 8px 10px;
	transition: .3s;
}

header .pre-nav h1.logo a {
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

header .pre-nav .burger {
	height: 45px;
	width: 40px;
	float: right;
	margin: 10px 10px 10px 0;
	cursor: pointer;
}

header .pre-nav .burger div {
	height: 5px;
	width: 100%;
	background-color: #000;
	margin: 7px 0;
	border-radius: 3px;
}

header .pre-nav .burger.open div:first-of-type {
	transform: translate(2, 1);
}

header nav {
	display: none;
	clear: left;
	width: 100%;
}

header nav > ul {
	font-size: 0;
}

header nav ul li {
	border-bottom: 3px solid #74B3CE;
	height: 50px;
	transition: .4s;
}

header nav ul:hover li {
	border-bottom-color: #fff;
}

header nav ul li i {
	transition: .4s;
}

header nav ul li:hover {
	background-color: #fff;
	border-bottom-color: #004E98;
}

header nav ul li:hover i {
	color: #004E98;
}

header nav ul li:hover a {
	color: #004E98;
}

header nav ul li:first-of-type {
	border-top: 3px solid #74B3CE;
}

header nav ul li a {
	font-weight: 700;
	font-style: italic;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	line-height: 50px;
	font-size: 16px;
	box-sizing: border-box;
	padding: 0 20px;
	transition-delay: .1s;
	
}

/*BURGER MENU*/

.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	float: right;
	margin: 15px;
	
}
.navTrigger i {
	background-color: #fff;
	border-radius: 2px;
	content: '';
	display: block;
	width: 100%;
	height: 4px;
}
.navTrigger i:nth-child(1) {
	-webkit-animation: outT 0.8s backwards;
	animation: outT 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
	margin: 5px 0;
	-webkit-animation: outM 0.8s backwards;
	animation: outM 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
	-webkit-animation: outBtm 0.8s backwards;
	animation: outBtm 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
	-webkit-animation: inT 0.8s forwards;
	animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
	-webkit-animation: inM 0.8s forwards;
	animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
	-webkit-animation: inBtm 0.8s forwards;
	animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}
@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

#o-nama {
	box-sizing: border-box;
	background-color: #004E98;
}

#o-nama .intro {
	line-height: 1.4;
	background-color: rgb(242, 242, 242);
	color: #222;
	text-shadow: none !important;
	padding-bottom: 50px;
}

#o-nama .overlay {
	min-height: 100vh;
}

#o-nama h2 {
	margin-left: 20px;
	margin-bottom: 1em;
}

#o-nama h2 span {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	font-weight: 700;
	border-bottom: 5px solid #74B3CE;
	display: inline-block;
}

#o-nama h2:first-of-type {
	padding-top: 80px;
}

#o-nama .overlay .container .about-text p {
	box-sizing: border-box;
	padding: 10px 20px;
}

#o-nama p {
	/* text-shadow: 1px 1px 1px #000; */
	max-width: 1040px;
}

#o-nama .about-text {
	display: inline-block;
	text-align: justify;
}

#o-nama .about-shell {
	text-align: center;
	display: inline-block;
	text-align: center;
	margin: 0 auto;	
	border-radius: 100%;
	width: 100%;
}

#o-nama .call-to-action {
	text-align: center;
	margin: 0 15px;
}

#o-nama .call-to-action a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	border: 5px solid #fff;
	font: 700 1.4rem 'Montserrat', sans-serif;
	padding: 0.6em 1.2em;
	margin: 50px 0;
	transition: .3s;
	position: relative;
	text-shadow: none;
}

#o-nama .call-to-action a:hover {
	border-color: #004E98;
	color: #004E98;
	background-color: rgba(255, 255, 255, .7);
}

.badges {
	padding-top: 50px;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2em;
}

.badge {
	max-width: 300px;
	padding-bottom: 1em;
	margin: 0 10px;
	text-align: center;
}

.badge h3 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 10px;
	color: #74B3CE;
}

.badge p {
	box-sizing: border-box;
	padding: 10px;
	height: 100px;
	line-height: 1.3em;
	text-align: center;
}

.badge .icon {
	padding: 1.5em;
	box-sizing: border-box;
	color: #74B3CE;
	text-align: center;
	display: inline-block;
	border-bottom: 1px solid #fff;

}

.badge .icon i {
	font-size: 3.5em;
	text-shadow: 0 0 1px #fff;
}

.badge .icon img {
	max-width: 3.5em;
	max-height: 3.5em;
}

div.divider {
	padding: 0px;
	height: 1px;
	background-color: #fff;
	width: 100%;
}


/*MANUFACTURERS SLIDER*/
#proizvodjaci {
	background-color: #fff;
	color: #000;
	padding: 8em 0 8em 0;
}

#proizvodjaci h2 {
	text-align: center;
	padding: 20px 0;
	margin: 0;
	color: #0B132B;
}

#proizvodjaci h2 span {
	box-sizing: border-box;
	font-size: 2em;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	border-bottom: 5px solid #004E98;
	display: inline-block;
}

#proizvodjaci p {
	text-align: center;
	color: #0B132B;
}

#proizvodjaci p:last-of-type {
	font-style: italic;
}

.manufacturers {
	padding-top: 2em;
}

.manufacturers .manufacturer {
	box-sizing: border-box;
	position: relative;
	margin: 30px 0 50px 0;
	height: 90px;
	padding: 10px;
	height: 90px;
	text-align: center;
	cursor: pointer;
	transition: .8s;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(resources.svg#desaturate);
	filter: gray;
	-webkit-filter: grayscale(1);
}

.manufacturers div.manufacturer img {
	max-height: 90%;
	max-width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.manufacturers .manufacturer.slick-center,
.manufacturers .manufacturer:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	-webkit-filter: none;
}

.slick-prev {
	margin-left: 30px;
	z-index: 100;
}

.slick-next {
	margin-right: 30px;
	z-index: 100;
}

.slick-prev:before, .slick-next:before { 
	color: #333;
}

.man-info {
	display: none;
	color: #0B132B;
}

.man-info .main {
	vertical-align: top;
	box-sizing: border-box;
	padding: 30px;
}

.man-info .main h3 {
	font-size: 32px;
	color: #004E98;
	box-sizing: border-box;
	padding: 10px;
}

#proizvodjaci .man-info .main p p {
	text-align: justify;
	box-sizing: border-box;
	padding: 10px 0;
}

#proizvodjaci .man-info .main > p {
	box-sizing: border-box;
	padding: 10px;
}

.man-info .side  {
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	border-right: 1px solid #74B3CE;
}

.man-info .side img {
	/*float: left;*/
	max-height: 88px;
	max-width: 176px;
	margin: 20px 0;
}

.man-info .side a,
.man-info .side .certif button {
	box-sizing: content-box;
	text-decoration: none;
	display: inline-block;
	background: none;
	border: none;
	cursor: pointer;
	font: 700 1rem 'Montserrat', sans-serif;
	padding: 0.5em 1em;
	letter-spacing: 0.03rem;
	border: 3px solid #004E98;
	background-color: #004E98;
	color: #fff;
	margin: 2px 0;
	transition: .4s;
	width: 176px;
}

.man-info .side a:hover,
.man-info .side .certif button:hover {
	background-color: #fff;
	color: #004E98;
}

.man-info .close-info {
	margin: 120px auto;
	border: none;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	background-color: #fff;
	color: #74B3CE;
	cursor: pointer;
	border-radius: 100%;
	padding: 12px;
	display: block;
	margin: 0 auto;
	transition: .4s;
}

.man-info .close-info:hover {
	color: #fff;
	background-color: #74B3CE;
}

.man-info .close-info i {
	font-size: 3em;
}

.man-info .close-info div {
	text-decoration: none;
	font-style: italic;
	font-size: 0.8em;
	position: relative;
	top: -8px;
}

.fas.fa-external-link-alt {
	font-size: 40%;
	vertical-align: top;
}

.certificate {
	display: none;
	transition: .6s;
	visibility: hidden;
}

div.certificate.active {
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2000;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	display: block;
}

div.certificate button {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 2em;
	cursor: pointer;
	display: block;
	background-color: transparent;
	border: none;
	color: #fff;
	transition: .3s;
}

div.certificate button:hover {
	transform: rotate(180deg);
	color: #f00;
	font-weight: 700;
}

div.certificate.active img {
	visibility: visible;
	display: inline;
	max-width: 100%;
	max-height: 100vh;
	padding: 1em;
	background-color: transparent;
	box-sizing: border-box;
}

div.certificate .overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

#web-shop {
	min-height: 60vh;
	background-color: #0B132B;
}

#web-shop .overlay {
	background-color: rgba(0, 0, 0, .8);
	min-height: 60vh;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#web-shop a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	border: 5px solid #fff;
	font: 700 1.4rem 'Montserrat', sans-serif;
	padding: 1em 2em;
	margin: 100px 0 20px 0;
	transition: .3s;
	position: relative;
}

#web-shop a:hover {
	border-color: #004E98;
	color: #004E98;
	background-color: rgba(255, 255, 255, .6);
}

#web-shop p {
	font-style: italic;
	padding-bottom: 100px;
	color: #fff;
}

#lokacija {
	overflow: hidden;
	position: relative;
	background-color: rgb(242, 242, 242);
	color: #0B132B;
	min-height: 160vh;
}

#lokacija .map-info {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	overflow: visible;
	margin-bottom: 5em;
}

#lokacija .map-info p {
	color: #004E98;
	font-size: 1.2em;
}

#lokacija .map-info p:first-of-type {
	font-weight: 700;
}

#lokacija .map-info a {
	/* text-decoration: underline; */
	display: inline-block;
	padding: 1em;
	color: #fff;
	background-color: #004E98;
	border: 5px solid #004E98;
	margin-top: 2em;
	transition: .6s;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

#lokacija .map-info a:hover {
	color: #004E98;
	background-color: transparent;
}

#lokacija .map-info table {
	width: 100%;
}

#lokacija .map-info table thead {
	margin: 0 auto;
	text-align: left;
}

#lokacija .map-info table tbody td {
	padding: 15px 0 3px 0;
	border-bottom: 1px solid #ddd;
	color: #74B3CE;
	font-weight: 700;
}

#lokacija .map-info table tbody td:last-of-type {
	text-align: right;
}

#lokacija .map-info table tbody tr:nth-of-type(6) td {
	color: #999;
}

#lokacija .map-info table tbody tr:last-of-type td {
	color: #f00;
}

#lokacija .map-info table tfoot tr {
	background-color: red;
}

#lokacija h2 {
	display: inline-block;
	padding: 2em 0 1em 0;
	color: #0B132B;
	text-align: center;
	margin: 0;
}

#lokacija h2 span {
	font-size: 2em;
	font-weight: 700;
	border-bottom: 5px solid #004E98;
	display: inline-block;
	box-sizing: border-box;
}

#lokacija #map {
	position: static;
	width: 100%;
	height: 80vh;
}

#kontakt {
	margin-top: 70px;
}

#kontakt-info {
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 50px;
}

#kontakt-info h2 span {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	font-weight: 700;
	border-bottom: 5px solid #74B3CE;
	display: inline-block;
}

#kontakt-info table {
	line-height: 1.2;
	margin-top: 3em;
	width: 100%;
}

#kontakt-info table * {
	vertical-align: middle;	
}

#kontakt-info table th,
#kontakt-info table td {
	padding: 10px 0;
}

#kontakt-info table th {
	text-align: left;
	font-weight: 700;
	color: #74B3CE;
}

#kontakt-info table tr:nth-of-type(even) {
	border-bottom: 1px solid #74B3CE;
}

#kontakt-info table tbody tr td:last-of-type {
	text-align: right;
}

#kontakt-info table tfoot tr td i {
	color: #fff;
	background-color: #004E98;
	font-size: 2em;
	padding: 10px;
	width: 30px;
	height: 30px;
	transition: .6s;
	border-radius: 12px;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

#kontakt-info table tfoot tr td i:hover {
	color: #004E98;
	background-color: #fff;
	border-color: #004E98;
}

#kontakt-forma {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 50px;
}

#kontakt-forma h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	font-weight: 700;
	border-bottom: 5px solid #74B3CE;
	display: inline-block;
}

form input, form textarea {
	width: 100%;
	margin: 10px 0;
	resize: none;
	box-sizing: border-box;
	padding: 14px;
	font-family: "Titillium Web", sans-serif;
	border: none;
	box-shadow: none;
	color: #0B132B;
	box-sizing: border-box;
	transition: .6s;
}

form input::placeholder,
form textarea::placeholder {
	transition: .5s;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
	padding-left: 10%;
	opacity: .5;
}

form p {
	font-style: italic;
}

form input[type="submit"] {
	padding: .5em;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	cursor: pointer;
	box-sizing: border-box;
	width: 100%;
	font-size: 1.2em;
	font-weight: 700;
	background-color: #74B3CE;
	border: 5px solid #74B3CE;
}

form input[type="submit"]:hover {
	background-color: #fff;
	border-color: #fff;
	color: #004E98;
}

footer {
	text-align: center;
	background-color: #0B132B;
	color: #74B3CE;
	padding: 20px;
	box-sizing: border-box;
	font-style: italic;
}

footer span {
	vertical-align: middle;
}

@media screen and (max-width: 1137px) {
	.badges {
		justify-content: space-around;
	}
}